@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="color:forestgreen;">
    <h1 class="display-4" >Welcome</h1>
    <img src="~/images/picture.jpg" width="100%" />
    <div class="mt-3" style="font-size:20px;color:forestgreen;">
        <p> Our School Information System makes interaction  between staff, parents and students  easier and in real-time! </p>
        <p>Let's start communicating!</p>
    </div>
</div>
