@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br />
    <p> Our School Information System makes interaction  between staff, parents and students  easier and in real-time! </p><br />
    <p>Let's start communicating!</p>
    
</div>
